In [ ]:
#Pandas Library
#Series:Create and operation:
#Explaination:Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
#A Pandas Series is like a column in a table.

In [1]:
#Example 1
#simple array
import pandas as pd
data = [1, 2, 3, 4]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [51]:
#2
#simple array
import pandas as pd
import numpy as np
data = np.array(['grape','apple','banana','orange'])
ser = pd.Series(data)
print(ser)

0     grape
1     apple
2    banana
3    orange
dtype: object

In [65]:
#3
#simple list
import pandas as pd
data=['g','e','e','k','s']
seri= pd.Series(data)
print(seri)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [75]:
#Accessing Element from Series with Position : 
import pandas as pd
data =['g','e','e','k','s','f', 'o','r','g','e','e','k','s']
ser = pd.Series(data)
print(ser[:8])

0    g
1    e
2    e
3    k
4    s
5    f
6    o
7    r
dtype: object

In [81]:
#Accessing Element Using Label (index):
# import pandas and numpy 
import pandas as pd
import numpy as np
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data) 
print(ser[5])

f

In [83]:
#Create Labels
#Example
import pandas as pd
a = [1, 7, 2]
ser = pd.Series(a, index = ["x", "y", "z"])
print(ser)

x    1
y    7
z    2
dtype: int64

In [85]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [99]:
#operations
#slicing
import pandas as pd
a=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#slicing by tables
print(a['b':'d'])
#slicing by position
print(a[1:4])

b    2
c    3
d    4
dtype: int64
b    2
c    3
d    4
dtype: int64

In [3]:
#Arithmetic operation
import pandas as pd
s1=pd.Series([1,2,3,4])
s2=pd.Series([5,6,7,8])
#Element wise addition
print(s1+s2)
print(s1*s2)

0     6
1     8
2    10
3    12
dtype: int64
0     5
1    12
2    21
3    32
dtype: int64

In [7]:
#Boolen opertions
#Element wise comparison
print(s1>2)
print(s2>5)

0    False
1    False
2     True
3     True
dtype: bool
0    False
1     True
2     True
3     True
dtype: bool

In [19]:
#Aggregation and rduction
import pandas as pd
A=pd.Series([1,2,3,4,5,6])
print(A.sum()) #sum of all elements
print(A.mean()) # mean of all elements
print(A.min()) #minimum value 
print(A.max()) #maximum value

21
3.5
1
6

In [29]:
# sorting and ranking
import pandas as pd
s=pd.Series([7,3,3,8,9,5,4,4,0,1])
# sorting by values
print(s.sort_values())
#sorting by index
print(s.sort_index())
#Ranking
print(s.rank())

8    0
9    1
1    3
2    3
6    4
7    4
5    5
0    7
3    8
4    9
dtype: int64
0    7
1    3
2    3
3    8
4    9
5    5
6    4
7    4
8    0
9    1
dtype: int64
0     8.0
1     3.5
2     3.5
3     9.0
4    10.0
5     7.0
6     5.5
7     5.5
8     1.0
9     2.0
dtype: float64

In [33]:
#handling Missing data
s=pd.Series([2,3,4,None,6,7])
#check for missing values
print(s.isnull())
#fill missing value with specific values
print(s.fillna(5))

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool
0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
5    7.0
dtype: float64

In [37]:
#Elemnet wise function
import pandas as pd
# creating a seris objects
s=pd.Series([1,2,3,4,5])
print(s**0.5)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64