In [ ]:
# for loop
#Explaination
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#This is less like the for keyword in other programming languages, and works more like an iterator method
#as found in other object-orientated programming languages.   
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
#The for loop in Python is used to iterate over a sequence (like a list, tuple, or string) or other iterable objects.

In [1]:
#Examples
#1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
#2
a=(1,2,3,4)
for x in a:
    print(x)

1
2
3
4

In [3]:
#3
for x in "apple":
  print(x)

a
p
p
l
e

In [4]:
#4
numbers=[2,7,3,88,65,6]
for x in numbers:
    print(x)

2
7
3
88
65
6

In [5]:
#5
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
#6
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
#7
total=0
for num in range(1,21):
    total+=num
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [10]:
#8
numbers=[2,3,4,5]
result=1
for num in numbers:
    result*=num
    print(result)

2
6
24
120

#9
a=[1,2,3,4,5,6,7]
for total in a:
    total*=2
    print(total)

In [15]:
#10
a=[1,2,3,4,5,6,7]
for x in a:
    x=2^x
    print(x)

3
0
1
6
7
4
5