In [6]:
#Selection
import pandas as pd
# Create a sample DataFrame
data = {'Name': ['Rutuja', 'Ruturaj', 'Shivam', 'Ajinkya'],
        'Age': [25, 30, 35, 40],
        'Gender': ['Female', 'Male', 'Male', 'Male']}
df = pd.DataFrame(data)
# Selecting a single column
ages = df['Age']
print(ages)

0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [8]:
# Selecting multiple columns
subset = df[['Name', 'Gender']]
print(subset)

      Name  Gender
0   Rutuja  Female
1  Ruturaj    Male
2   Shivam    Male
3  Ajinkya    Male

In [10]:
# Selecting rows based on a condition
male_records = df[df['Gender']=='Male']
print(male_records)

      Name  Age Gender
1  Ruturaj   30   Male
2   Shivam   35   Male
3  Ajinkya   40   Male

In [12]:
subset_loc = df.loc[1:2, ['Name', 'Age']]
print(subset_loc)

      Name  Age
1  Ruturaj   30
2   Shivam   35

In [14]:
subset_iloc = df.iloc[1:3, [0, 1]]
print(subset_iloc)

      Name  Age
1  Ruturaj   30
2   Shivam   35

In [16]:
#Condition selection
selected_rows=df[df["Age"]>30]
print(selected_rows)

      Name  Age Gender
2   Shivam   35   Male
3  Ajinkya   40   Male

In [18]:
selected_col=df.iloc[0]#Selecting row
selected_col

Name      Rutuja
Age           25
Gender    Female
Name: 0, dtype: object

In [20]:
Ajinkya=df.set_index("Name")
row=Ajinkya.loc["Ajinkya"]
row

Age         40
Gender    Male
Name: Ajinkya, dtype: object

In [22]:
import pandas as pd
data = {'Name': ['Rutuja', 'Ruturaj', 'Shivam', 'Ajinkya'],
        'Age': [25, 30, 35, 40],
        }

df = pd.DataFrame(data)
df["Gender"]=["Female","male","Male","Male"]
print(df)

      Name  Age  Gender
0   Rutuja   25  Female
1  Ruturaj   30    male
2   Shivam   35    Male
3  Ajinkya   40    Male

In [24]:
df.drop("Gender",axis=1,inplace=True)
print(df)

      Name  Age
0   Rutuja   25
1  Ruturaj   30
2   Shivam   35
3  Ajinkya   40

In [28]:
df["Age"]=[27,22,44,32]
print(df)

      Name  Age
0   Rutuja   27
1  Ruturaj   22
2   Shivam   44
3  Ajinkya   32

In [30]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Rutuja', 'Ruturaj', 'Shivam'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
# Set 'Name' column as the index
df.set_index('Name', inplace=True)#Gives "Name" an index
print(df)

         Age
Name
Rutuja    25
Ruturaj   30
Shivam    35

In [32]:
#Remove index
df.reset_index(inplace=True)
print(df)

      Name  Age
0   Rutuja   25
1  Ruturaj   30
2   Shivam   35

In [40]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [2, 4, 6, 8],
        'B': [1, 3, 5, 7]}

df = pd.DataFrame(data)

# Perform arithmetic operations between columns
# Addition
df['C'] = df['A'] + df['B']

# Subtraction
df['D'] = df['A'] - df['B']

# Multiplication
df['E'] = df['A'] * df['B']

# Division
df['F'] = df['A'] / df['B']

# Exponentiation
df['G'] = df['A'] ** df['B']

print(df)

   A  B   C  D   E         F        G
0  2  1   3  1   2  2.000000        2
1  4  3   7  1  12  1.333333       64
2  6  5  11  1  30  1.200000     7776
3  8  7  15  1  56  1.142857  2097152