In [3]:
#Dataframe operations
import pandas as pd
# Create a sample DataFrame
data = {
    'A': [1, 2, 2, 3, 4, 4, 4, 5],
    'B': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar']
}

df = pd.DataFrame(data)
print(df)

   A    B
0  1  foo
1  2  bar
2  2  foo
3  3  bar
4  4  foo
5  4  bar
6  4  foo
7  5  bar

In [5]:
# Count occurrences of each value in column 'A'
count_A = df['A'].value_counts()
print("Count of each value in column 'A':")
print(count_A)

Count of each value in column 'A':
A
4    3
2    2
1    1
3    1
5    1
Name: count, dtype: int64

In [7]:
# Apply a function to column 'A' (e.g., square each value)
df['A_squared'] = df['A'].apply(lambda x: x ** 2)
print("\nDataFrame with 'A_squared':")
print(df)

DataFrame with 'A_squared':
   A    B  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  4  foo         16
7  5  bar         25

In [9]:
# Find unique values in column 'B'
unique_B = df['B'].unique()
print("\nUnique values in column 'B':")
print(unique_B)

Unique values in column 'B':
['foo' 'bar']

In [11]:
# Count unique values in column 'B'
unique_count_B = df['B'].nunique()
print("\nCount of unique values in column 'B':")
print(unique_count_B)

Count of unique values in column 'B':
2